---
import Layout from "../layouts/Layout.astro"
import "../styles/global.css"
const pageTitle = "Sobre Nosotros"
const identity = {
    name: 'Julian',
    desc: 'Programador',
    age: 18,
    nac: 'Argentina'
}
const skills = ['css','javascript','html']
let finish = false
const happy = true
/*
    COLORS
*/
const HeightCase = "30px"
const TitleColor = "#77aabb"
---
<Layout title={pageTitle}>
    <body>
        <h1>{pageTitle}</h1>
        <h1>Datos Personales</h1>
        <ul>
            <li>{identity.name}</li>
            <li>{identity.age}</li>
            <li>{identity.nac}</li>
            <li>{identity.desc}</li>
        </ul>
        <h1>Habilidades</h1>
        {skills.map((v)=><p>{v}</p>)}
        <p>{happy && <p>estoy feliz</p>}</p>
        <p>{finish && <p>estoy feliz</p>}</p>
    </body>
</Layout>
<style define:vars={{TitleColor, HeightCase}}>
    p{
        color: white;
    }
    h1{
        color: var(--TitleColor);
        font-size: var(--HeightCase);
    }
    li{
        color: white;
        list-style: none;
    }
</style>